
html, body {
  height: 100%;
  margin: 0;
}

body {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Cor de fundo opcional */
}



.login-container {

  padding: 1.5rem;
  background-color: #820AD1; /* Cor de fundo da página de login */
  color: white;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: sombra para destacar o contêiner */
  margin-top: 8rem;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: white; /* Cor do título */
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  color: #ffffff; /* Cor do texto dos botões */
  text-align: center;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9; /* Efeito de hover opcional */
}

.cor-botao {
  background-color:#ffffff; /* Cor de fundo rosa */
}

.d-inline-block {
  display: inline-block;
}

.alert {
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid #dc3545; /* Cor da borda para mensagens de erro */
  border-radius: 4px;
  color: #dc3545; /* Cor do texto para mensagens de erro */
  background-color: #f8d7da; /* Cor de fundo para mensagens de erro */
}
.texto-botao{
  color: black;
}

